<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Airline Prediction</title>
</head>

<body>
  <h1>Airline Prediction Form</h1>
  <div>
    <form action="/result" method="POST">
      <label for="DOT_CODE">Airline</label>
      <select id="DOT_CODE" required="" name="DOT_CODE">
        <option value="20304">SkyWest Airlines Inc.</option>
        <option value="19930">Alaska Airlines Inc.</option>
        <option value="20368">Allegiant Air</option>
        <option value="19805">American Airlines Inc.</option>
        <option value="19790">Delta Air Lines Inc.</option>
        <option value="20363">Endeavor Air Inc.</option>
        <option value="20398">Envoy Air</option>
        <option value="20366">ExpressJet Airlines LLC</option>
        <option value="20436">Frontier Airlines Inc.</option>
        <option value="19690">Hawaiian Airlines Inc.</option>
        <option value="19687">Horizon Air</option>
        <option value="20409">JetBlue Airways</option>
        <option value="20378">Mesa Airlines Inc.</option>
        <option value="20397">PSA Airlines Inc.</option>
        <option value="20452">Republic Airline</option>
        <option value="19393">Southwest Airlines Co.</option>
        <option value="20416">Spirit Air Lines</option>
        <option value="19977">United Air Lines Inc.</option>
      </select>
      <br />
      <label for="ORIGIN">Origin Airport</label>
      <input list="origin_airport_list" id="ORIGIN" name="ORIGIN" required="" placeholder="Search origin airport..." />
      <datalist id="origin_airport_list">
        <option value="0">ABE</option>
        <option value="1">ABI</option>
        <option value="2">ABQ</option>
        <option value="3">ABR</option>
        <option value="4">ABY</option>
        <option value="5">ACK</option>
        <option value="6">ACT</option>
        <option value="7">ACV</option>
        <option value="8">ACY</option>
        <option value="11">AEX</option>
        <option value="12">AGS</option>
        <option value="14">ALB</option>
        <option value="15">ALO</option>
        <option value="16">ALS</option>
        <option value="17">ALW</option>
        <option value="18">AMA</option>
        <option value="20">APN</option>
        <option value="21">ART</option>
        <option value="22">ASE</option>
        <option value="23">ATL</option>
        <option value="25">ATY</option>
        <option value="26">AUS</option>
        <option value="27">AVL</option>
        <option value="28">AVP</option>
        <option value="30">AZO</option>
        <option value="31">BDL</option>
        <option value="33">BFF</option>
        <option value="34">BFL</option>
        <option value="35">BFM</option>
        <option value="36">BGM</option>
        <option value="37">BGR</option>
        <option value="38">BHM</option>
        <option value="39">BIH</option>
        <option value="40">BIL</option>
        <option value="41">BIS</option>
        <option value="44">BLI</option>
        <option value="45">BLV</option>
        <option value="46">BMI</option>
        <option value="47">BNA</option>
        <option value="48">BOI</option>
        <option value="49">BOS</option>
        <option value="50">BPT</option>
        <option value="53">BRD</option>
        <option value="54">BRO</option>
        <option value="56">BTM</option>
        <option value="57">BTR</option>
        <option value="58">BTV</option>
        <option value="59">BUF</option>
        <option value="60">BUR</option>
        <option value="61">BWI</option>
        <option value="62">BZN</option>
        <option value="63">CAE</option>
        <option value="64">CAK</option>
        <option value="66">CDC</option>
        <option value="68">CGI</option>
        <option value="69">CHA</option>
        <option value="70">CHO</option>
        <option value="71">CHS</option>
        <option value="72">CID</option>
        <option value="73">CIU</option>
        <option value="74">CKB</option>
        <option value="75">CLE</option>
        <option value="76">CLL</option>
        <option value="77">CLT</option>
        <option value="78">CMH</option>
        <option value="79">CMI</option>
        <option value="80">CMX</option>
        <option value="81">CNY</option>
        <option value="82">COD</option>
        <option value="83">COS</option>
        <option value="84">COU</option>
        <option value="85">CPR</option>
        <option value="86">CRP</option>
        <option value="87">CRW</option>
        <option value="88">CSG</option>
        <option value="89">CVG</option>
        <option value="91">CYS</option>
        <option value="92">DAB</option>
        <option value="93">DAL</option>
        <option value="94">DAY</option>
        <option value="95">DBQ</option>
        <option value="96">DCA</option>
        <option value="97">DDC</option>
        <option value="98">DEC</option>
        <option value="99">DEN</option>
        <option value="100">DFW</option>
        <option value="101">DHN</option>
        <option value="102">DIK</option>
        <option value="104">DLH</option>
        <option value="105">DRO</option>
        <option value="106">DRT</option>
        <option value="107">DSM</option>
        <option value="108">DTW</option>
        <option value="109">DVL</option>
        <option value="110">EAR</option>
        <option value="111">EAT</option>
        <option value="112">EAU</option>
        <option value="113">ECP</option>
        <option value="114">EGE</option>
        <option value="115">EKO</option>
        <option value="116">ELM</option>
        <option value="117">ELP</option>
        <option value="118">ERI</option>
        <option value="119">ESC</option>
        <option value="120">EUG</option>
        <option value="121">EVV</option>
        <option value="122">EWN</option>
        <option value="123">EWR</option>
        <option value="124">EYW</option>
        <option value="126">FAR</option>
        <option value="127">FAT</option>
        <option value="128">FAY</option>
        <option value="130">FLG</option>
        <option value="131">FLL</option>
        <option value="132">FLO</option>
        <option value="133">FNT</option>
        <option value="134">FOD</option>
        <option value="135">FSD</option>
        <option value="136">FSM</option>
        <option value="137">FWA</option>
        <option value="138">GCC</option>
        <option value="139">GCK</option>
        <option value="140">GEG</option>
        <option value="141">GFK</option>
        <option value="142">GGG</option>
        <option value="143">GJT</option>
        <option value="144">GNV</option>
        <option value="145">GPT</option>
        <option value="146">GRB</option>
        <option value="147">GRI</option>
        <option value="148">GRK</option>
        <option value="149">GRR</option>
        <option value="150">GSO</option>
        <option value="151">GSP</option>
        <option value="153">GTF</option>
        <option value="154">GTR</option>
        <option value="155">GUC</option>
        <option value="157">HDN</option>
        <option value="158">HGR</option>
        <option value="160">HIB</option>
        <option value="161">HLN</option>
        <option value="164">HOU</option>
        <option value="165">HPN</option>
        <option value="166">HRL</option>
        <option value="167">HSV</option>
        <option value="168">HTS</option>
        <option value="169">HVN</option>
        <option value="170">HYA</option>
        <option value="171">HYS</option>
        <option value="172">IAD</option>
        <option value="173">IAG</option>
        <option value="174">IAH</option>
        <option value="175">ICT</option>
        <option value="176">IDA</option>
        <option value="177">ILG</option>
        <option value="178">ILM</option>
        <option value="179">IMT</option>
        <option value="180">IND</option>
        <option value="181">INL</option>
        <option value="182">IPT</option>
        <option value="183">ISN</option>
        <option value="184">ISP</option>
        <option value="185">ITH</option>
        <option value="187">JAC</option>
        <option value="188">JAN</option>
        <option value="189">JAX</option>
        <option value="190">JFK</option>
        <option value="191">JLN</option>
        <option value="192">JMS</option>
        <option value="194">JST</option>
        <option value="197">LAN</option>
        <option value="199">LAS</option>
        <option value="200">LAW</option>
        <option value="201">LAX</option>
        <option value="202">LBB</option>
        <option value="204">LBF</option>
        <option value="205">LBL</option>
        <option value="206">LCH</option>
        <option value="208">LEX</option>
        <option value="209">LFT</option>
        <option value="210">LGA</option>
        <option value="211">LGB</option>
        <option value="213">LIT</option>
        <option value="214">LNK</option>
        <option value="215">LRD</option>
        <option value="216">LSE</option>
        <option value="218">LWS</option>
        <option value="219">LYH</option>
        <option value="220">MAF</option>
        <option value="221">MBS</option>
        <option value="222">MCI</option>
        <option value="223">MCO</option>
        <option value="224">MCW</option>
        <option value="225">MDT</option>
        <option value="226">MDW</option>
        <option value="227">MEI</option>
        <option value="228">MEM</option>
        <option value="229">MFE</option>
        <option value="230">MFR</option>
        <option value="231">MGM</option>
        <option value="232">MHK</option>
        <option value="233">MHT</option>
        <option value="234">MIA</option>
        <option value="235">MKE</option>
        <option value="236">MKG</option>
        <option value="237">MLB</option>
        <option value="238">MLI</option>
        <option value="239">MLU</option>
        <option value="241">MOB</option>
        <option value="242">MOT</option>
        <option value="244">MRY</option>
        <option value="245">MSN</option>
        <option value="246">MSO</option>
        <option value="247">MSP</option>
        <option value="248">MSY</option>
        <option value="249">MTJ</option>
        <option value="250">MVY</option>
        <option value="251">MYR</option>
        <option value="252">OAJ</option>
        <option value="253">OAK</option>
        <option value="254">OGD</option>
        <option value="257">OKC</option>
        <option value="258">OMA</option>
        <option value="260">ONT</option>
        <option value="261">ORD</option>
        <option value="262">ORF</option>
        <option value="263">ORH</option>
        <option value="264">OTH</option>
        <option value="266">OWB</option>
        <option value="267">PAE</option>
        <option value="268">PAH</option>
        <option value="269">PBG</option>
        <option value="270">PBI</option>
        <option value="271">PDX</option>
        <option value="272">PGD</option>
        <option value="274">PHF</option>
        <option value="275">PHL</option>
        <option value="276">PHX</option>
        <option value="277">PIA</option>
        <option value="278">PIB</option>
        <option value="279">PIE</option>
        <option value="280">PIH</option>
        <option value="281">PIR</option>
        <option value="282">PIT</option>
        <option value="283">PLN</option>
        <option value="284">PNS</option>
        <option value="286">PRC</option>
        <option value="287">PSC</option>
        <option value="290">PSM</option>
        <option value="291">PSP</option>
        <option value="292">PUB</option>
        <option value="293">PUW</option>
        <option value="294">PVD</option>
        <option value="295">PVU</option>
        <option value="254">PVM</option>
        <option value="297">RAP</option>
        <option value="298">RDD</option>
        <option value="299">RDM</option>
        <option value="300">RDU</option>
        <option value="301">RFD</option>
        <option value="302">RHI</option>
        <option value="303">RIC</option>
        <option value="304">RIW</option>
        <option value="305">RKS</option>
        <option value="306">RNO</option>
        <option value="307">ROA</option>
        <option value="308">ROC</option>
        <option value="309">ROW</option>
        <option value="310">RST</option>
        <option value="311">RSW</option>
        <option value="312">SAF</option>
        <option value="313">SAN</option>
        <option value="314">SAT</option>
        <option value="315">SAV</option>
        <option value="316">SBA</option>
        <option value="317">SBN</option>
        <option value="318">SBP</option>
        <option value="321">SCK</option>
        <option value="322">SDF</option>
        <option value="323">SEA</option>
        <option value="324">SFB</option>
        <option value="325">SFO</option>
        <option value="326">SGF</option>
        <option value="327">SGU</option>
        <option value="329">SHR</option>
        <option value="330">SHV</option>
        <option value="332">SJC</option>
        <option value="333">SJT</option>
        <option value="335">SLC</option>
        <option value="336">SLN</option>
        <option value="337">SMF</option>
        <option value="338">SMX</option>
        <option value="339">SNA</option>
        <option value="340">SPI</option>
        <option value="342">SPS</option>
        <option value="343">SRQ</option>
        <option value="344">STC</option>
        <option value="345">STL</option>
        <option value="346">STS</option>
        <option value="350">SUX</option>
        <option value="352">SWO</option>
        <option value="353">SYR</option>
        <option value="354">TBN</option>
        <option value="355">TLH</option>
        <option value="356">TOL</option>
        <option value="357">TPA</option>
        <option value="358">TRI</option>
        <option value="359">TTN</option>
        <option value="360">TUL</option>
        <option value="361">TUS</option>
        <option value="362">TVC</option>
        <option value="363">TWF</option>
        <option value="364">TXK</option>
        <option value="365">TYR</option>
        <option value="366">TYS</option>
        <option value="367">UIN</option>
        <option value="369">VCT</option>
        <option value="370">VEL</option>
        <option value="371">VLD</option>
        <option value="372">VPS</option>
        <option value="375">XNA</option>
        <option value="376">XWA</option>
        <option value="378">YKM</option>
      </datalist>
      <br />
      <label for="DEST">Destination Airport</label>
      <input list="dest_airport_list" id="DEST" name="DEST" required="" placeholder="Search destination airport..." />
      <datalist id="dest_airport_list">
        <option value="0">ABE</option>
        <option value="1">ABI</option>
        <option value="2">ABQ</option>
        <option value="3">ABR</option>
        <option value="4">ABY</option>
        <option value="5">ACK</option>
        <option value="6">ACT</option>
        <option value="7">ACV</option>
        <option value="8">ACY</option>
        <option value="11">AEX</option>
        <option value="12">AGS</option>
        <option value="14">ALB</option>
        <option value="15">ALO</option>
        <option value="16">ALS</option>
        <option value="17">ALW</option>
        <option value="18">AMA</option>
        <option value="20">APN</option>
        <option value="21">ART</option>
        <option value="22">ASE</option>
        <option value="23">ATL</option>
        <option value="25">ATY</option>
        <option value="26">AUS</option>
        <option value="27">AVL</option>
        <option value="28">AVP</option>
        <option value="30">AZO</option>
        <option value="31">BDL</option>
        <option value="33">BFF</option>
        <option value="34">BFL</option>
        <option value="35">BFM</option>
        <option value="36">BGM</option>
        <option value="37">BGR</option>
        <option value="38">BHM</option>
        <option value="39">BIH</option>
        <option value="40">BIL</option>
        <option value="41">BIS</option>
        <option value="44">BLI</option>
        <option value="45">BLV</option>
        <option value="46">BMI</option>
        <option value="47">BNA</option>
        <option value="48">BOI</option>
        <option value="49">BOS</option>
        <option value="50">BPT</option>
        <option value="53">BRD</option>
        <option value="54">BRO</option>
        <option value="56">BTM</option>
        <option value="57">BTR</option>
        <option value="58">BTV</option>
        <option value="59">BUF</option>
        <option value="60">BUR</option>
        <option value="61">BWI</option>
        <option value="62">BZN</option>
        <option value="63">CAE</option>
        <option value="64">CAK</option>
        <option value="66">CDC</option>
        <option value="68">CGI</option>
        <option value="69">CHA</option>
        <option value="70">CHO</option>
        <option value="71">CHS</option>
        <option value="72">CID</option>
        <option value="73">CIU</option>
        <option value="74">CKB</option>
        <option value="75">CLE</option>
        <option value="76">CLL</option>
        <option value="77">CLT</option>
        <option value="78">CMH</option>
        <option value="79">CMI</option>
        <option value="80">CMX</option>
        <option value="81">CNY</option>
        <option value="82">COD</option>
        <option value="83">COS</option>
        <option value="84">COU</option>
        <option value="85">CPR</option>
        <option value="86">CRP</option>
        <option value="87">CRW</option>
        <option value="88">CSG</option>
        <option value="89">CVG</option>
        <option value="91">CYS</option>
        <option value="92">DAB</option>
        <option value="93">DAL</option>
        <option value="94">DAY</option>
        <option value="95">DBQ</option>
        <option value="96">DCA</option>
        <option value="97">DDC</option>
        <option value="98">DEC</option>
        <option value="99">DEN</option>
        <option value="100">DFW</option>
        <option value="101">DHN</option>
        <option value="102">DIK</option>
        <option value="104">DLH</option>
        <option value="105">DRO</option>
        <option value="106">DRT</option>
        <option value="107">DSM</option>
        <option value="108">DTW</option>
        <option value="109">DVL</option>
        <option value="110">EAR</option>
        <option value="111">EAT</option>
        <option value="112">EAU</option>
        <option value="113">ECP</option>
        <option value="114">EGE</option>
        <option value="115">EKO</option>
        <option value="116">ELM</option>
        <option value="117">ELP</option>
        <option value="118">ERI</option>
        <option value="119">ESC</option>
        <option value="120">EUG</option>
        <option value="121">EVV</option>
        <option value="122">EWN</option>
        <option value="123">EWR</option>
        <option value="124">EYW</option>
        <option value="126">FAR</option>
        <option value="127">FAT</option>
        <option value="128">FAY</option>
        <option value="130">FLG</option>
        <option value="131">FLL</option>
        <option value="132">FLO</option>
        <option value="133">FNT</option>
        <option value="134">FOD</option>
        <option value="135">FSD</option>
        <option value="136">FSM</option>
        <option value="137">FWA</option>
        <option value="138">GCC</option>
        <option value="139">GCK</option>
        <option value="140">GEG</option>
        <option value="141">GFK</option>
        <option value="142">GGG</option>
        <option value="143">GJT</option>
        <option value="144">GNV</option>
        <option value="145">GPT</option>
        <option value="146">GRB</option>
        <option value="147">GRI</option>
        <option value="148">GRK</option>
        <option value="149">GRR</option>
        <option value="150">GSO</option>
        <option value="151">GSP</option>
        <option value="153">GTF</option>
        <option value="154">GTR</option>
        <option value="155">GUC</option>
        <option value="157">HDN</option>
        <option value="158">HGR</option>
        <option value="160">HIB</option>
        <option value="161">HLN</option>
        <option value="164">HOU</option>
        <option value="165">HPN</option>
        <option value="166">HRL</option>
        <option value="167">HSV</option>
        <option value="168">HTS</option>
        <option value="169">HVN</option>
        <option value="170">HYA</option>
        <option value="171">HYS</option>
        <option value="172">IAD</option>
        <option value="173">IAG</option>
        <option value="174">IAH</option>
        <option value="175">ICT</option>
        <option value="176">IDA</option>
        <option value="177">ILG</option>
        <option value="178">ILM</option>
        <option value="179">IMT</option>
        <option value="180">IND</option>
        <option value="181">INL</option>
        <option value="159">IPT</option>
        <option value="183">ISN</option>
        <option value="184">ISP</option>
        <option value="185">ITH</option>
        <option value="187">JAC</option>
        <option value="188">JAN</option>
        <option value="189">JAX</option>
        <option value="190">JFK</option>
        <option value="191">JLN</option>
        <option value="192">JMS</option>
        <option value="194">JST</option>
        <option value="197">LAN</option>
        <option value="199">LAS</option>
        <option value="200">LAW</option>
        <option value="201">LAX</option>
        <option value="202">LBB</option>
        <option value="204">LBF</option>
        <option value="205">LBL</option>
        <option value="206">LCH</option>
        <option value="208">LEX</option>
        <option value="209">LFT</option>
        <option value="210">LGA</option>
        <option value="211">LGB</option>
        <option value="213">LIT</option>
        <option value="214">LNK</option>
        <option value="215">LRD</option>
        <option value="216">LSE</option>
        <option value="218">LWS</option>
        <option value="219">LYH</option>
        <option value="220">MAF</option>
        <option value="221">MBS</option>
        <option value="222">MCI</option>
        <option value="223">MCO</option>
        <option value="224">MCW</option>
        <option value="225">MDT</option>
        <option value="226">MDW</option>
        <option value="227">MEI</option>
        <option value="228">MEM</option>
        <option value="229">MFE</option>
        <option value="230">MFR</option>
        <option value="231">MGM</option>
        <option value="232">MHK</option>
        <option value="233">MHT</option>
        <option value="234">MIA</option>
        <option value="235">MKE</option>
        <option value="236">MKG</option>
        <option value="237">MLB</option>
        <option value="238">MLI</option>
        <option value="239">MLU</option>
        <option value="241">MOB</option>
        <option value="242">MOT</option>
        <option value="244">MRY</option>
        <option value="245">MSN</option>
        <option value="246">MSO</option>
        <option value="247">MSP</option>
        <option value="248">MSY</option>
        <option value="249">MTJ</option>
        <option value="250">MVY</option>
        <option value="251">MYR</option>
        <option value="252">OAJ</option>
        <option value="253">OAK</option>
        <option value="220">OGD</option>
        <option value="257">OKC</option>
        <option value="258">OMA</option>
        <option value="260">ONT</option>
        <option value="261">ORD</option>
        <option value="262">ORF</option>
        <option value="263">ORH</option>
        <option value="264">OTH</option>
        <option value="266">OWB</option>
        <option value="267">PAE</option>
        <option value="268">PAH</option>
        <option value="269">PBG</option>
        <option value="270">PBI</option>
        <option value="271">PDX</option>
        <option value="272">PGD</option>
        <option value="274">PHF</option>
        <option value="275">PHL</option>
        <option value="276">PHX</option>
        <option value="277">PIA</option>
        <option value="278">PIB</option>
        <option value="279">PIE</option>
        <option value="280">PIH</option>
        <option value="281">PIR</option>
        <option value="282">PIT</option>
        <option value="283">PLN</option>
        <option value="284">PNS</option>
        <option value="286">PRC</option>
        <option value="287">PSC</option>
        <option value="290">PSM</option>
        <option value="291">PSP</option>
        <option value="292">PUB</option>
        <option value="293">PUW</option>
        <option value="294">PVD</option>
        <option value="295">PVU</option>
        <option value="254">PVM</option>
        <option value="297">RAP</option>
        <option value="298">RDD</option>
        <option value="299">RDM</option>
        <option value="300">RDU</option>
        <option value="301">RFD</option>
        <option value="302">RHI</option>
        <option value="303">RIC</option>
        <option value="304">RIW</option>
        <option value="305">RKS</option>
        <option value="306">RNO</option>
        <option value="307">ROA</option>
        <option value="308">ROC</option>
        <option value="309">ROW</option>
        <option value="310">RST</option>
        <option value="311">RSW</option>
        <option value="312">SAF</option>
        <option value="313">SAN</option>
        <option value="314">SAT</option>
        <option value="315">SAV</option>
        <option value="316">SBA</option>
        <option value="317">SBN</option>
        <option value="318">SBP</option>
        <option value="321">SCK</option>
        <option value="322">SDF</option>
        <option value="323">SEA</option>
        <option value="324">SFB</option>
        <option value="325">SFO</option>
        <option value="326">SGF</option>
        <option value="327">SGU</option>
        <option value="329">SHR</option>
        <option value="330">SHV</option>
        <option value="332">SJC</option>
        <option value="333">SJT</option>
        <option value="335">SLC</option>
        <option value="336">SLN</option>
        <option value="337">SMF</option>
        <option value="338">SMX</option>
        <option value="339">SNA</option>
        <option value="340">SPI</option>
        <option value="342">SPS</option>
        <option value="343">SRQ</option>
        <option value="344">STC</option>
        <option value="345">STL</option>
        <option value="346">STS</option>
        <option value="350">SUX</option>
        <option value="352">SWO</option>
        <option value="353">SYR</option>
        <option value="354">TBN</option>
        <option value="355">TLH</option>
        <option value="356">TOL</option>
        <option value="357">TPA</option>
        <option value="358">TRI</option>
        <option value="359">TTN</option>
        <option value="360">TUL</option>
        <option value="361">TUS</option>
        <option value="362">TVC</option>
        <option value="363">TWF</option>
        <option value="364">TXK</option>
        <option value="365">TYR</option>
        <option value="366">TYS</option>
        <option value="367">UIN</option>
        <option value="369">VCT</option>
        <option value="370">VEL</option>
        <option value="371">VLD</option>
        <option value="372">VPS</option>
        <option value="375">XNA</option>
        <option value="376">XWA</option>
        <option value="378">YKM</option>
        <option value="19">ANC</option>
        <option value="24">ATW</option>
        <option value="29">AZA</option>
        <option value="42">BJI</option>
        <option value="43">BKG</option>
        <option value="51">BQK</option>
        <option value="52">BQN</option>
        <option value="90">CWA</option>
        <option value="125">FAI</option>
        <option value="129">FCA</option>
        <option value="159">HHH</option>
        <option value="162">HNL</option>
        <option value="163">HOB</option>
        <option value="186">ITO</option>
        <option value="193">JNU</option>
        <option value="195">KOA</option>
        <option value="196">KTN</option>
        <option value="198">LAR</option>
        <option value="203">LBE</option>
        <option value="207">LCK</option>
        <option value="212">LIH</option>
        <option value="217">LWB</option>
        <option value="240">MMH</option>
        <option value="243">MQT</option>
        <option value="255">OGG</option>
        <option value="256">OGS</option>
        <option value="273">PGV</option>
        <option value="288">PSE</option>
        <option value="296">PWM</option>
        <option value="320">SCE</option>
        <option value="328">SHD</option>
        <option value="331">SIT</option>
        <option value="334">SJU</option>
        <option value="347">STT</option>
        <option value="348">STX</option>
        <option value="349">SUN</option>
        <option value="351">SWF</option>
        <option value="368">USA</option>
        <option value="374">WYS</option>
        <option value="379">YUM</option>
      </datalist>
      <br />
      <label for="crs_dep_military_time">Departure Time </label>
      <input id="crs_dep_military_time" name="crs_dep_military_time" required="" type="time" />
      <br />
      <label for="crs_arr_military_time">Arrival Time </label>
      <input id="crs_arr_military_time" name="crs_arr_military_time" required="" type="time" />
      <br />
      <label for="FL_DATE">Select a date:</label>
      <input id="FL_DATE" name="FL_DATE" required="" type="date" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>

    {% set reg_result = reg_result if reg_result is not undefined else None %}
    {% if reg_result is not none %}
      <h2>Delay or Early Prediction Result: </h2>
      {% if reg_result < 0 %}
          <p>Ahead of schedule by {{ reg_result | abs }} minutes</p>
      {% elif reg_result > 0 %}
          <p>Delay by {{ reg_result }} minutes</p>
      {% else %}
          <p>On time</p>
      {% endif %}
    {% else %}
      <p>No prediction available.</p>
    {% endif %}
  </div>
</body>
</html>