<<<<<<< HEAD
.App {
  text-align: center;
  height: 100vh;  /* Ensures it takes up the full screen height */
  width: 100%;  /* Ensures it takes up the full width */
  /* background-image: url('../assets/blue_gradient_background.png'); */
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
=======
element {
  background-color: #61dafb;
}

.App {
  text-align: center;
  background-image: url('assets/blue_gradient_background.webp');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> main
